*Контактна інформація ЛНТУ* 📚

*Головний офіс / Ректорат*
📍 `вул. Львівська, 75, м. Луцьк, Волинська обл., 43018, Україна`
☎️ `+38 (0332) 74-61-03`
✉️ `rector@lutsk-ntu.com.ua`
✉️ `rector@lntu.edu.ua`
📝 *Форма зворотного зв’язку:* `https://lntu.edu.ua/contact`

---

*Юридичний відділ*
☎️ `+38 (0332) 74-61-28`

*Бухгалтерія*
☎️ `+38 (0332) 74-61-20`

*Спорткомплекс*
☎️ `+38 (0332) 74-61-23`

---

*Приймальна комісія*
📍 `вул. Львівська, 75, м. Луцьк, Волинська обл., 43018, Україна`
☎️ `+38 (0332) 74-61-11`
📱 `+38 (096) 543-89-89`
✉️ `pk@lntu.edu.ua`
🏷️ `pk.lntu`
