{% extends 'base.html' %}
{% block content %}
<h1 class="mb-4">Панель керування</h1>
<div class="row">
  <div class="col-md-3 mb-3">
    <div class="card text-center">
      <div class="card-body">
        <h2 class="card-title">{{ total }}</h2>
        <p class="card-text">Користувачі</p>
      </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
    <div class="card text-center">
      <div class="card-body">
        <h2 class="card-title">{{ facultatives }}</h2>
        <p class="card-text">Факультативи</p>
      </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
    <div class="card text-center">
      <div class="card-body">
        <h2 class="card-title">{{ courses }}</h2>
        <p class="card-text">Курси</p>
      </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
    <div class="card text-center">
      <div class="card-body">
        <h2 class="card-title">{{ groups }}</h2>
        <p class="card-text">Групи</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
